export UV_PREVIEW_FEATURES=extra-build-dependencies

#####
# nvcc and cuda
module load cuda

#####
# conda

module load miniforge

# Initialize conda for this subshell
eval "$(conda shell.bash hook)"

# Use a dedicated env stored in the project
CONDA_ENV="$(pwd)/.conda"

if [ ! -d "$CONDA_ENV" ]; then
	conda env create -p "$CONDA_ENV" -f environment.yml
fi

conda activate "$CONDA_ENV"

#####
# venv
source .venv/bin/activate

####

export MAX_JOBS=4
# path_add LD_LIBRARY_PATH .venv/lib/python3.12/site-packages/torch/lib
